<div class="movements-page-container">
  <h2>Movimentos Manuais</h2>

  <app-manual-movements-form [isProductsLoading]="isProductsLoading$ |async" [products]="products$ | async"
    [isProductCosifsLoading]="isProductCosifsLoading$ | async" [productCosifs]="productCosifs$ | async"
    (productChange)="handleProductChange($event)" (productCreate)="handleProductCreate($event)">
  </app-manual-movements-form>

  <app-manual-movements-list [isManualMovementsLoading]="isManualMovementsLoading$ | async"
    [manualMovements]="manualMovements$ | async">
  </app-manual-movements-list>
</div>