.manual-movements-form-container {
  padding: 20px 0;
}

.manual-movements-form-container button {
  margin-right: 10px;
}

.manual-movements-form-container .manual-movements-form-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manual-movements-form-container .manual-movements-form-line mat-form-field {
  width: 49%;
}