<div class="manual-movements-form-container">

  <form [formGroup]="manualMovementForm" (ngSubmit)="handleProductCreate()">

    <div class="manual-movements-form-line">
      <mat-form-field>
        <mat-label>Mês</mat-label>
        <input #iptMonth matInput type="number" formControlName="DatMonth" min="1" max="12" step="1">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ano</mat-label>
        <input matInput type="number" formControlName="DatYear" min="1900" max="2021" step="1">
      </mat-form-field>
    </div>

    <div class="manual-movements-form-line">
      <mat-form-field>
        <mat-label>Produto</mat-label>
        <mat-select formControlName="CodProduct" (selectionChange)="handleProductChange($event)">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let product of products" [value]="product.CodProduct">
            {{product.DesProduct}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cosif</mat-label>
        <mat-select formControlName="CodCosif">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let productCosif of productCosifs" [value]="productCosif.CodCosif">
            {{productCosif.CodCosif}} - ({{productCosif.CodClassification}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="manual-movements-form-line">
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="ValValue" min="0" max="999" step="0.1">
      </mat-form-field>
    </div>

    <div class="manual-movements-form-line">
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="DesDescription"></textarea>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="handleProductNew()"
      *ngIf="!manualMovementForm.enabled">Novo</button>
    <button mat-raised-button color="default" (click)="handleProductClear()"
      *ngIf="manualMovementForm.enabled">Limpar</button>
    <button mat-raised-button color="primary" [disabled]="!manualMovementForm.valid" (click)="handleProductCreate()"
      *ngIf="manualMovementForm.enabled">Incluir</button>
  </form>
</div>