.manual-movements-list-container {
  padding: 20px 0;
}

.manual-movements-list-table {
  position: relative;
  min-height: 150px;
}

.manual-movements-list-table .manual-movements-list-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manual-movements-list-table table { 
  width: 100%;
}