<div class="manual-movements-list-container">
  <div class="manual-movements-list-table mat-elevation-z8">
    <div class="manual-movements-list-loading" *ngIf="isManualMovementsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="manualMovements">
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Mês</th>
        <td mat-cell *matCellDef="let manualMovement"><span>{{ manualMovement.DatMonth | number:'2.0' }}</span></td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Ano</th>
        <td mat-cell *matCellDef="let manualMovement"><span>{{ manualMovement.DatYear }}</span></td>
      </ng-container>

      <ng-container matColumnDef="codProduct">
        <th mat-header-cell *matHeaderCellDef>Código do Produto</th>
        <td mat-cell *matCellDef="let manualMovement">
          <span>{{ manualMovement?.ProductCosif?.Product?.CodProduct }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="desProduct">
        <th mat-header-cell *matHeaderCellDef>Descricao do Produto</th>
        <td mat-cell *matCellDef="let manualMovement">
          <span>{{ manualMovement?.ProductCosif?.Product?.DesProduct }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="numRelease">
        <th mat-header-cell *matHeaderCellDef>NR Lançamento</th>
        <td mat-cell *matCellDef="let manualMovement"><span>{{ manualMovement.NumRelease | number:'3.0' }}</span></td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let manualMovement"><span>{{ manualMovement.DesDescription }}</span></td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let manualMovement"><span>{{ manualMovement.ValValue | number:'0.2' }}</span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></tr>
      <tr mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS;"></tr>
    </table>
  </div>
</div>